<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<session-config>
		<session-timeout>1</session-timeout>
		<cookie-config>
			<name>appcookie</name>
			<http-only>true</http-only>
			<max-age>60</max-age>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<display-name>My Servlet App</display-name>

	<description>A Demo Servlet Application</description>

	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>context-param1</param-name>
		<param-value>context-value1</param-value>
	</context-param>

	<listener>
		<listener-class>com.app.framework.ApplicationStateChangeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>ApplicationFilter</filter-name>
		<filter-class>com.app.framework.ApplicationInterceptingFilter</filter-class>
		<init-param>
			<param-name>filter-param-name-1</param-name>
			<param-value>filter-param-value-1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ApplicationFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.servlet.FirstServlet</servlet-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>value1</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.servlet.DownloadServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FirstPage</servlet-name>
		<jsp-file>/WEB-INF/jsp/Hello.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstPage</servlet-name>
		<url-pattern>/FirstPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserForm</servlet-name>
		<jsp-file>/WEB-INF/jsp/UserForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserForm</servlet-name>
		<url-pattern>/UserForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/initializer.jsp</jsp-file>
		<init-param>
			<param-name>default-user</param-name>
			<param-value>default-username</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitJSP</servlet-name>
		<url-pattern>/InitJSP</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sayhello</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>sayhello</servlet-name>
		<url-pattern>/sayhello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uploader</servlet-name>
		<jsp-file>/WEB-INF/jsp/uploader.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploader</servlet-name>
		<url-pattern>/uploader</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.servlet.UploadServlet</servlet-class>
		<init-param>
			<param-name>upload_dir</param-name>
			<param-value>E:/uploads</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload-result</servlet-name>
		<jsp-file>/WEB-INF/jsp/uploadResult.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ExceptionServlet</servlet-name>
		<jsp-file>/WEB-INF/jsp/exceptionThrower.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/ValidateLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PostLogin</servlet-name>
		<jsp-file>/WEB-INF/jsp/PostLogin.jsp</jsp-file>
	</servlet>
	<servlet>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostLogin</servlet-name>
		<url-pattern>/PostLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upload-result</servlet-name>
		<url-pattern>/uploadResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExceptionServlet</servlet-name>
		<url-pattern>/ExceptionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
</web-app>